
@font-face {
  font-family: 'iran';
  src:
       url('./fonts/iran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .font-iran {
    font-family: 'iran';
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
